body {
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

button,
input {
    border-radius: 5px;
    vertical-align: middle;
}

#passwordLength {
    max-width: 50px;
    margin-bottom: 8px;
    height: 24px;
}

#copyClipboard,
#clearPasswordList {
    height: 30px;
}

#passwordList {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    margin-top: 80px;
    padding: 0px;
}

#passwordList li:first-child {
    font-weight: bold;
}

#container {
    margin-top: 20px;
}

label[for=noSymbols],
label[for=noRepeat] {
    margin-bottom: 0px;
    margin-left: 5px;
    vertical-align: middle;
}

label[for=passwordLength] {
    margin-right: 5px;
    vertical-align: middle;
}